# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
.exvim
aclocal.m4
ar-lib
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
httpd
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
.deps
.exvim..exvim
.libs
autom4te.cache
lib
m4
